// encoding=utf-8
// Warning:  Save file without BOM!!!
#pragma code_page(65001)

// Russian resources
LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

// Main
STRINGTABLE
BEGIN
1000, "Wake Delphi пример"

2001, "Неправильный пакет."
2002, "Устройство занято."
2003, "Устройство не готово."
2004, "Неправильные параметры."
2005, "Устройство не отвечает."
2006, "Отсутствует несущая."
2007, "Неизвестная ошибка устройства.\nКод ошибки: %d"

3001, "Порт не открыт."
3002, "Невозможно открыть порт."
3003, "Ошибка при передаче пакета в порт."
3004, "Ошибка при приёме пакета из порта."
3005, "Ошибка порта в вызове Purge."

4000, "Некорректное значение \"%s\" параметра \"%s\""

4001, "Результат: %s"
4002, "<пусто>"
4003, "полное соответствие"
4004, "не соответствует"

4005, "Посмотрите, диалоговое окно ошибки"

4006, "Номер:"
4007, "Адрес:"
4008, "Таймаут, мс:"
4009, "Скорость передачи:"

4010, "Адрес"
4011, "Таймаут"
4012, "Скорость передачи"

4013, "Открыть"
4014, "Закрыть"
4015, "&Info"
4016, "&Echo"

4017, "Журнал отладки"

4018, " Команды "
4019, " Порт "
END
