/* Application wide styles */

#commandsLabel, #portLabel {
    -fx-opacity: 1;
    -fx-background-color: -fx-background;
}
#commandsLabel:disabled, #portLabel:disabled {
    -fx-text-fill: #CCCCCC;
    -fx-opacity: 1;
    -fx-background-color: -fx-background;
}