// encoding=utf-8
// Warning:  Save file without BOM!!!
#pragma code_page(65001)

// Russian resources
LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

// Main
STRINGTABLE
BEGIN
1001, "Неправильный пакет."
1002, "Устройство занято."
1003, "Устройство не готово."
1004, "Неправильные параметры."
1005, "Устройство не отвечает."
1006, "Отсутствует несущая."
1007, "Неизвестная ошибка устройства.\nКод ошибки: %d"
1008, "Ошибка при передаче пакета в порт."
1009, "Ошибка при приёме пакета из порта."
1010, "Ошибка порта в вызове Purge."

2000, "Неправильный параметр \"%s\""
2001, "Результат: %s"
END
